<!DOCTYPE html>
<html lang="{{@website.language}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{#if title}}
    <title>{{title}} &mdash; {{@website.name}}</title>
  {{else}}
    <title>{{@website.name}}</title>
  {{/if}}

  <meta name="description" content="{{#if description}}{{description}}{{else}}{{@website.description}}{{/if}}">
  <meta name="author" content="{{@website.author}}">

  {{#if @website.logo}}
    <link rel="icon" href="{{@website.logo}}" type="image/png">
  {{/if}}

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{#if title}}{{title}}{{else}}{{@website.name}}{{/if}}">
  <meta property="og:description" content="{{#if description}}{{description}}{{else}}{{@website.description}}{{/if}}">
  <meta property="og:url" content="{{@website.url}}">
  {{#if featuredImage}}
    <meta property="og:image" content="{{featuredImage}}">
  {{/if}}

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{#if title}}{{title}}{{else}}{{@website.name}}{{/if}}">
  <meta name="twitter:description" content="{{#if description}}{{description}}{{else}}{{@website.description}}{{/if}}">

  <link rel="canonical" href="{{url}}">

  <link rel="stylesheet" href="{{@website.themeUrl}}/assets/css/style.css">

  {{> custom-head-code}}
</head>
